.listCards {
  margin: 0 auto 100px;
  max-width: 600px;

  padding: 5px;
  margin-top: 20px;

  article {
    margin-bottom: 40px;
  }
  @media (min-width: 600px) {
    article {
      margin-bottom: 80px;
    }
  }
  img {
    width: 98%;
    text-align: center;
  }
}
